.profile_edit
{
    line-height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #1e81b0;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
}

.profile_view
{
    line-height: 40px;
    background-color: #FFFFFF;
    width: 400px;
    padding-left: 10px;
    border-bottom: 1px solid #D3D3D3;
}

.profile_label
{
    padding-left: 10px;
}

.profile_card
{
    width: 850px;
}

.edit_border{
    display: inline-block;
    width: 94px;
    height: 20px;
    line-height: 16px;
    color: #03C28C;
    border-radius: 4px;
    border: 1px solid #03C28C;
    background-color: #FFFFFF;
}

.edit_bordered{
    color: #FFFFFF;
    background-color: #03C28C;
}

.edit_contain{
    display: inline-block;
    width:94px;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    border-radius: 4px;
    padding: 4px 7px;
    margin-top: 4px;
    resize:none;
    overflow:hidden;
    color: #333333;
    background-color: #EFEFF4;
    border:1px solid #EFEFF4;
    height: 20px;
}

.edit_contained{
    background: none;
    color: #333333;
    resize:none;
    border:1px solid #03C28C;
}
