.user_post:hover {
    cursor: pointer;
    color: darkblue;
    border-color: darkblue;
}

.user_post
{
    color:#007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align:middle;
}

.thumb_ups:hover {
    cursor: pointer;
    color: darkblue;
    border-color: darkblue;
}

.thumb_ups
{
    color:#007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    text-align: center;
}

.detail_body
{
    word-wrap:break-word;
}

.answer-question-button
{
    position: fixed;
    height: 70px;
    width: 70px;
    bottom: 100px;
    right: 100px;
}

.answer-question-button-round
{
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    text-align: center;
    line-height: 1.33;
    border-radius: 35px;
    bottom: 100px;
    right: 100px;
}

.edit_body
{
    border: 1px solid #1e81b0;
    border-radius: 5px;
}