.user_post:hover {
    cursor: pointer;
    color: darkblue;
    border-color: darkblue;
}

.title_link:hover {
    cursor: pointer;
    color: #0080ff;
}

.user_post
{
    color:#007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    text-align: center;
}

.view_body
{
    overflow:hidden;
}