<!DOCTYPE html>
<html lang="en">
<script src="../framework/jquery-3.6.0/jquery-3.6.0.min.js"></script>
<script src="../framework/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<link href="../framework/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet">
<link href="css/header_style.css" rel="stylesheet">
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="to_home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav gap-2">

                <li>
                    <select class="header-sel form-select" aria-label="select_topics" id="g_topic_sel"></select>
                </li>

                <li>
                    <select class="header-sel form-select" aria-label="select_topics" id="s_topic_sel" disabled>
                        <option selected>Subject Topics</option>
                    </select>
                </li>

                <li>
                    <select class="form-select" aria-label="select_topics" id="search_mode_sel">
                        <option selected>Default Search</option>
                        <option>Fulltext Search</option>
                    </select>
                </li>

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="search_mode_sel" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">Search Mode</a>-->

<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#">Test</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li><a href="#">Default Search</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->

                <li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="button" id="perform_search">Search</button>
                    </form>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 500px">
            <li class="nav-item me-2">
                <a class="nav-link" href="#" id="username_profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<p hidden id="username_tmp"></p>

</body>
<script type="text/javascript">

    $("#to_home").click(function () {
        $(location).attr("href", "main.html")
    })

    $("#user_profile").click(function () {
        $(location).attr("href", "profile_url")
    })

    $("#username_tmp").ready(function () {
        $.ajax({
            url: "../application/get_current_user.php",
            type: "post",
            success: function (data) {
                $('#username_tmp').html(data);
                if(data.length > 0)
                {
                    $("#username_profile").text(data);
                }
            },
            error: function (data){
                console.warn(data);
            }
        });
    })

    $('#navbarSupportedContent').ready(function (){
        $.ajax({
            url: "../application/get_general_topics.php",
            type: "post",
            success: function (data) {
                $("#g_topic_sel").html(data);
            },
            error: function (data){
                console.warn(data);
            }
        });
    })

    $('#g_topic_sel').on("change", function (){
        var object = document.getElementById('g_topic_sel');
        var selected = object.options[object.selectedIndex].value;
        if(String(selected) !== String("General Topics"))
        {
            $('#s_topic_sel').removeAttr('disabled');
            $.ajax({
                url: "../application/get_subject_topics.php",
                type: "post",
                data: {"gtid": object.options[object.selectedIndex].className.replace('gtid_', '')},
                success: function (data) {
                    $("#s_topic_sel").html(data);
                },
                error: function (data){
                    console.warn(data);
                }
            });
        }
        else
        {
            $('#s_topic_sel').attr('disabled', 'disabled');
        }
    })

</script>

</html>