<!DOCTYPE html>
<html lang="en">
<script src="../framework/jquery-3.6.0/jquery-3.6.0.min.js"></script>
<!--<script src="../framework/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>-->
<link href="../framework/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet">
<link href="css/header_style.css" rel="stylesheet">
<script src="js/utils.js"></script>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="to_home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav gap-2">

                <li>
                    <select class="header-sel form-select" aria-label="select_topics" id="g_topic_sel"></select>
                </li>

                <li>
                    <select class="header-sel form-select" aria-label="select_topics" id="s_topic_sel" disabled>
                        <option selected>Subject Topics</option>
                    </select>
                </li>

                <li>
                    <select class="form-select" aria-label="select_topics" id="search_mode_sel">
                        <option selected>Question Search</option>
                        <option>Answer Search</option>
                    </select>
                </li>

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="search_mode_sel" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">Search Mode</a>-->

<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#">Test</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li><a href="#">Default Search</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->

                <li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="key_word_input">
                        <button class="btn btn-outline-success" type="button" id="perform_search">Search</button>
                    </form>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-right: 10px">
<!--            <li class="nav-item me-2">-->
<!--                <a class="nav-link" href="#" id="username_profile">Sign in/Sign up</a>-->
<!--            </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="username_profile" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Sign in/Sign up</a>
                    <ul class="dropdown-menu me-3" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item profile_dropdown" href="login.html" id="sign_in_view">Sign in</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a class="dropdown-item profile_dropdown" href="register.html" id="sign_up_view">Sign up</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a class="dropdown-item profile_dropdown" href="#" id="profile_view">Profile</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a class="dropdown-item profile_dropdown" href="#" id="activity_view">Activity</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a class="dropdown-item profile_dropdown" href="#" id="logout_view">Logout</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>
</nav>

<p hidden id="username_tmp"></p>

</body>
<script type="text/javascript">

    $("#to_home").click(function () {
        $(location).attr("href", "main.html")
    })

    // $("#user_profile").click(function () {
    //     $(location).attr("href", "profile_url")
    // })

    $("#username_tmp").ready(function () {
        $.ajax({
            url: "../application/get_current_user.php",
            type: "post",
            success: function (data) {
                $('#username_tmp').html(data);
                if(data.length > 0)
                {
                    $("#username_profile").text(data);
                    $("#sign_in_view").attr ("style","display:none;");
                    $("#sign_up_view").attr ("style","display:none;");
                    $("#activity_view").attr ("style","display:block;");
                    $("#profile_view").attr ("style","display:block;");
                    $("#logout_view").attr ("style","display:block;");
                }
                else
                {
                    $("#sign_in_view").attr ("style","display:block;");
                    $("#sign_up_view").attr ("style","display:block;");
                    $("#activity_view").attr ("style","display:none;");
                    $("#profile_view").attr ("style","display:none;");
                    $("#logout_view").attr ("style","display:none;");
                }
            },
            error: function (data){
                console.warn(data);
            }
        });
    })

    $('#navbarSupportedContent').ready(function (){
        $.ajax({
            url: "../application/get_general_topics.php",
            type: "post",
            success: function (data) {
                $("#g_topic_sel").html(data);
            },
            error: function (data){
                console.warn(data);
            }
        });
    })

    $('#g_topic_sel').on("change", function (){
        var object = document.getElementById('g_topic_sel');
        var selected = object.options[object.selectedIndex].value;
        if(String(selected) !== String("General Topics"))
        {
            $('#s_topic_sel').removeAttr('disabled');
            $.ajax({
                url: "../application/get_subject_topics.php",
                type: "post",
                data: {"gtid": object.options[object.selectedIndex].className.replace('gtid_', '')},
                success: function (data) {
                    $("#s_topic_sel").html(data);
                },
                error: function (data){
                    console.warn(data);
                }
            });
        }
        else
        {
            $('#s_topic_sel').attr('disabled', 'disabled');
        }
    })

    $('#logout_view').on("click", function (){
        $.ajax({
            url: "../application/logout.php",
            type: "post",
            success: function (data) {
                location.reload();
            },
            error: function (data){
                console.warn(data);
            }
        });
    })

    $('#profile_view').on("click", function () {
        window.location.href = "profile.html?p_user=" + $("#username_tmp").text();
    })

    $('#activity_view').on("click", function () {
        window.location.href = "activity.html?a_user=" + $("#username_tmp").text();
    })

    $(document).on("click", "#perform_search", function (){

        get_data = {}
        var cur_location = window.location.origin + window.location.pathname;
        var cur_param = "?"
        var g_obj = document.getElementById('g_topic_sel');
        var s_obj = document.getElementById('s_topic_sel');
        var q_obj = document.getElementById('search_mode_sel');
        var key = $("#key_word_input").val();
        let gtid = g_obj.options[g_obj.selectedIndex].className.replace('gtid_', '');
        var stype = "";

        switch (q_obj.selectedIndex){
            case 0:
                stype = "qs";
                break;
            case 1:
                stype = "as";
                break;
            default:
                break;
        }

        if(!$('#s_topic_sel').is(':disabled'))
        {
            let stid = s_obj.options[s_obj.selectedIndex].className.replace('stid_', '');
            if(stid != null && stid.length > 0 && $.isNumeric(stid))
            {
                get_data['stid'] = stid;
                cur_param += "stid=" + stid.toString() + "&";
            }
        }
        if(gtid != null && gtid.length > 0 && $.isNumeric(gtid))
        {
            get_data['gtid'] = gtid;
            cur_param += "gtid=" + gtid.toString() + "&";
        }

        if(key != null && key.length > 0)
        {
            get_data['key'] = key;
            cur_param += "key=" + key.toString() + "&";
        }

        if(stype.length > 0){
            get_data['stype'] = stype;
            cur_param += "stype=" + stype.toString() + "&";
        }

        if(window.location.pathname !== '/templates/main.html')
        {
            window.location.href = "../templates/main.html" + cur_param;
            return;
        }

        $.ajax({
            url: "../application/get_questions.php",
            type: "get",
            data: get_data,
            success: function (data) {
                $("#card_list_container").html(data);
            },
            error: function (data){
                console.warn(data);
            }
        });

        cur_location += cur_param;

        if("?&".indexOf(cur_location.substring(cur_location.length - 1, cur_location.length)) !== -1)
            cur_location = cur_location.substring(0, cur_location.length - 1);
        window.history.replaceState({}, '', cur_location)
    })

</script>

</html>