<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../framework/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="../framework/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/utils.js"></script>
    <link href="../framework/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/profile_style.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
<div class="container" id="head_container"></div>

<div class="container" id="profile_container" style="padding-top: 100px;padding-left: 200px">
    <form id="editable">
        <p id="editable_hide" hidden></p>

        <div class="mb-4">
            <label for="username_view" class="form-label profile_label">Username</label>
            <p class="profile_view" contenteditable="false" id="username_view" style="width: 850px">Username</p>
        </div>

        <div class="d-flex gap-5">
            <div class="mb-4">
                <label for="karma_view" class="form-label profile_label">Karma points</label>
                <p class="profile_view" contenteditable="false" id="karma_view">Karma points</p>
            </div>
            <div class="mb-4">
                <label for="status_view" class="form-label profile_label">Status</label>
                <p class="profile_view" contenteditable="false" id="status_view">Status</p>
            </div>
        </div>

        <div class="d-flex gap-5">
            <div class="mb-4">
                <label for="firstname_view" class="form-label profile_label">First Name</label>
                <p class="profile_view" contenteditable="false" id="firstname_view">First Name</p>
                <p id="firstname_hide" hidden></p>
            </div>
            <div class="mb-4">
                <label for="lastname_view" class="form-label profile_label">Last Name</label>
                <p class="profile_view" contenteditable="false" id="lastname_view">Last Name</p>
                <p id="lastname_hide" hidden></p>
            </div>
        </div>

        <div class="mb-4">
            <label for="email_view" class="form-label profile_label">Email Address</label>
            <p class="profile_view" contenteditable="false" id="email_view" style="width: 850px">Email Address</p>
            <p id="email_hide" hidden></p>
        </div>
        <div class="mb-4">
            <label for="phone_view" class="form-label profile_label">Phone</label>
            <p class="profile_view" contenteditable="false" id="phone_view" style="width: 850px">Phone</p>
            <p id="phone_hide" hidden></p>
        </div>
        <div class="mb-4">
            <label for="city_view" class="form-label profile_label">City</label>
            <p class="profile_view" contenteditable="false" id="city_view" style="width: 850px">City</p>
            <p id="city_hide" hidden></p>
        </div>
        <div class="mb-4">
            <label for="state_view" class="form-label profile_label">State</label>
            <p class="profile_view" contenteditable="false" id="state_view" style="width: 850px">State</p>
            <p id="state_hide" hidden></p>
        </div>
        <div class="mb-4">
            <label for="country_view" class="form-label profile_label">Country</label>
            <p class="profile_view" contenteditable="false" id="country_view" style="width: 850px">Country</p>
            <p id="country_hide" hidden></p>
        </div>

        <div class="mb-4" style="width: 850px;">
            <label for="profile_view" class="form-label profile_label">Profile</label>
            <textarea class="form-control mt-2" id="profile_view" maxlength="500" placeholder="Profile" rows="7" style="background-color: white;resize: none;color: black" disabled></textarea>
            <span class="label label-default" id="count_message" style="display: none">0 / 500</span>
            <p id="profile_hide" hidden></p>
            <br>
        </div>
        <div class="d-flex gap-3 mb-4" id="profile_btn_container">
            <button type="button" class="btn btn-primary" id="profile_btn_edit" style="display: none">Edit</button>
            <button type="button" class="btn btn-primary" id="profile_btn_save" style="display: none">Save</button>
            <button type="button" class="btn btn-primary" id="profile_btn_cancel" style="display: none">Cancel</button>
        </div>
    </form>

</div>

</body>

<script type="text/javascript">
    $(document).ready(function (){
        $("#head_container").load('header.html');
    });

    $("#profile_btn_edit").on('click', function (){
        $(this).attr("style","display:none;");
        $('#profile_btn_save').attr("style","display:block;");
        $('#profile_btn_cancel').attr("style","display:block;");
        change_count();
        $('#firstname_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#lastname_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#phone_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#email_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#city_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#state_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $('#country_view').removeClass('profile_view').addClass('profile_edit').attr("contenteditable", 'true');
        $("textarea[id='profile_view']").removeAttr('disabled');
        $('#count_message').attr("style","display:block;");
    });

    $("#profile_btn_save").on('click', function (){
        $('#profile_btn_edit').attr("style","display:block;");
        $('#profile_btn_save').attr("style","display:none;");
        $('#profile_btn_cancel').attr("style","display:none;");
    });

    $("#profile_btn_cancel").on('click', function (){

        $('#profile_btn_edit').attr("style","display:block;");
        $('#profile_btn_save').attr("style","display:none;");
        $('#profile_btn_cancel').attr("style","display:none;");

        $('#firstname_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#lastname_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#phone_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#email_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#city_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#state_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $('#country_view').removeClass('profile_edit').addClass('profile_view').attr("contenteditable", 'false');
        $("textarea[id='profile_view']").attr('disabled', 'disabled');
        $('#count_message').attr("style","display:none;");

        update_user_profile({'p_user': $('#username_view').text()});
    });

    function update_user_profile(get_data)
    {
        $.ajax({
            url: "../application/get_profile.php",
            type: "get",
            data: get_data,
            success: function (data) {
                let data_json = $.parseJSON(data);
                $('#username_view').html(data_json.username);
                $('#karma_view').html(data_json.karma_point);
                $('#status_view').html(data_json.status);
                $('#firstname_view').html(data_json.firstname);
                $('#lastname_view').html(data_json.lastname);
                $('#phone_view').html(data_json.phone);
                $('#email_view').html(data_json.email);
                $('#city_view').html(data_json.city);
                $('#state_view').html(data_json.state);
                $('#country_view').html(data_json.country);
                $("textarea[id='profile_view']").val(data_json.profile);

                if(data_json.editable)
                {
                    $('#profile_btn_edit').attr("style","display:block;");
                }
            },
            error: function (data){
                console.warn(data);
            }
        });
    }

    $("#profile").ready(function (){
        get_data = {}
        let p_user = GetQueryString('p_user');
        if(p_user != null && p_user.length > 0) get_data['p_user'] = p_user;
        update_user_profile(get_data);
    });

    function change_count()
    {
        var text_length = $("textarea[id='profile_view']").val().length;
        let ct_span = $('#count_message');
        ct_span.attr("style","display:block;");
        ct_span.html(text_length + ' / ' + '500');
    }

    $('#profile_view').on('change keyup paste ', function() {
        change_count();
    });

</script>

</html>