<!DOCTYPE html>
<head>
    <script src="../framework/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="../framework/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/utils.js"></script>
    <link href="../framework/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/question_details_style.css" rel="stylesheet">
    <title>Question Detail</title>
</head>

<body>

<div id="head_container"></div>

<div id="answer_question_content">
    <div class="answer-question-button">
        <button type="button" class="btn btn-primary answer-question-button-round" style="border-radius: 35px;" data-bs-toggle="modal" data-bs-target="#answer_question_model" title="Answer this question" id="answer_float_btn">
            <img src="../framework/bootstrap-icons-1.8.1/plus-lg.svg" style="zoom: 200%;filter: invert(100%);" alt="Answer_Question">
        </button>
    </div>
</div>

<div class="container gap-3" id="question_container" style="padding-top: 80px;margin-left: auto;">
    <h4 class="mb-2">Question</h4>
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title" id="q_title">Question Title</h4>
            <div class="dropdown-divider"></div>
            <p class="card-text detail_body" id="q_body" contenteditable="false">Question Body</p>
            <div class="post_time d-flex gap-lg-5">
                <div class="p-2 user_post" id="q_user">user</div>
                <div class="p-2 time_post" id="q_time">time</div>
                <div class="p-2 post_topics" id="q_topics">g_topic & s_topic</div>
                <button type="button" class="btn btn-default" id="solve_q_btn" style="height: 40px;vertical-align:middle;">
                    <img src="../framework/bootstrap-icons-1.8.1/check-square.svg" alt="solve status" id="img_solve">
                    <div class="p-0 question_status" id="q_status" hidden></div>
                </button>
                <button type="button" class="btn btn-default" id="edit_q_btn" style="height: 40px;vertical-align:middle;display: none">
                    <img src="../framework/bootstrap-icons-1.8.1/pencil-square.svg" alt="edit">
                </button>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="container gap-3" id="answer_list_container"></div>
<p hidden id="qid_tmp"></p>

</body>

<script>
    let body_obj = $('body');

    $(document).ready(function (){
        $("#head_container").load('header.html');
    });

    function get_question_detail()
    {
        get_data = {}
        let qid = GetQueryString('qid');
        if(qid != null && qid.length > 0) get_data['qid'] = qid;
        $.ajax({
            url: "../application/get_cur_question.php",
            type: "get",
            data: get_data,
            success: function (data) {
                let data_json = $.parseJSON(data);
                $("#qid_tmp").html(data_json.qid);
                $("#q_title").html(data_json.q_title);
                $("#q_body").html(data_json.q_body);
                $("#q_user").html(data_json.q_user);
                $("#q_time").html(data_json.q_time);
                $("#q_topics").html(data_json.q_topics);
                $("#q_status").html(data_json.q_status);
                $("#edit_q_btn").attr("style",data_json.editable ? "display:block;" : "display:none;");
                $("#img_solve").attr("src", data_json.q_status === "resolved" ? "../framework/bootstrap-icons-1.8.1/check-square.svg" : "../framework/bootstrap-icons-1.8.1/x-square.svg")
            },
            error: function (data){
                console.warn(data);
            }
        });
    }

    function get_answer_detail()
    {
        get_data = {}
        let qid = GetQueryString('qid');
        if(qid != null && qid.length > 0) get_data['qid'] = qid;
        $.ajax({
            url: "../application/get_answers.php",
            type: "get",
            data: get_data,
            success: function (data) {
                $("#answer_list_container").html(data);
            },
            error: function (data){
                console.warn(data);
            }
        });
    }

    $("#question_container").ready(function (){
        get_question_detail();
    })

    $("#answer_list_container").ready(function (){
        get_answer_detail();
    })

    body_obj.on("click", '.user_post', function (){
        window.location.href = "profile.html?p_user=" + $(this).text();
    })

    body_obj.on("click", '.thumb_ups', function (){
        post_data = {}
        let qid = GetQueryString('qid');
        if(qid != null && qid.length > 0) post_data['qid'] = qid;
    })



</script>

</html>