<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Forum Account Registration Page</h1>
<form method="POST" action="../application/register.php">
    <table>
        <tr>
            <td>New username:</td>
            <td><input type="text" required="required" size="10" name="reg_user"></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input type="password" required="required" size="10" name="reg_pass1"></td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type="password" required="required" size="10" name="reg_pass2"></td>
        </tr>
    </table>
    <p><input type="submit" value="Log in">
</form>
</body>
</html>